<%if current_user !admin %>
	<h1>Company Updates</h1>
	<% @updates.each do |update| %>
		<dl>
			<dt><%= update.title %></dt>
				<dd><%= update.update %></dd>
		</dl>
	<% end %>
	<% else %>
	<h1>Company Current Events</h1>
	<% @updates.each do |update| %>
		<dl>
			<dt><%= update.title %></dt>
				<dd><%= update.update %></dd>
				<dd><%= link_to 'Show', update%> </dd>
				<dd><%= link_to 'Edit', edit_user_path(update)%> </dd>
				<dd><%= link_to 'Destroy', update, method: :delete, data: { confirm: 'are you sure you want to delete?' } %> </dd>
		</dl>
	<% end %>
	<h5><% link_to 'New Current event', new_current_event_path %></h5>